.hidden-xs {
     display: inline !important; 
}

.jumbotron {
    padding:5em 0 !important;
    width: 100%;
    height: 100%;
    border-radius: 0px !important;
}

.content-first,
.content-second,
.container {
    max-width: 100%;
    max-height: 100%;
    
}


#resume-row {
    margin-left: 100px;
    height: 50em;
}

.event {
    margin: 0 100px 70px 30px;
    
}

.event .event-info .date {
    font-size: 17px;
}

.resume-img {
    margin-bottom: 25px;
    height:75px;
    margin-left: 85px;
}


.blog-links:hover {
    color: #ff9900;
    transition-duration: 0.7s;
}

.details-row {
    padding-top: 10em;
}

.search-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 17px 12px;
}

.search-button {
    margin-left: -29px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.resume-span {
    text-align:center;
    font-size:large;
}

.portfolio-items{
    max-width:740px;
}

.about-text{
    padding-bottom: 50px;
}

.about-pic {
    padding-top: 50px;
}

#telenetwork {
    width: 150px;
}

#iq {
    width:270px;
    margin-left:75px;
}

#scotland {
    width: 305px;
    margin-left: 60px;
}

#ecu {
    width: 280px;
    height: initial;
    margin-left: 50px;
}

.before-scroll {
    display: none;
}

.after-scroll {
    display: block;
}


/*TimeLine start */
.timeline-wrapper {
    padding-top: 200px;
}

.cd-timeline-img {
    padding: 15px;
    padding-top: 19px;
}

#car-finder-img {
    margin-top:-10px;
}