
@{
    ViewBag.Title = "Index";
}

<div class="timeline-wrapper row">
    <div class="col-md-8 col-md-offset-2 text-center resume-header">
        <h2>Resume</h2>
        <hr />
    </div>
    <div class="col-md-12">
        <div id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    2015
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <div class="text-center">
                        <img src="~/Content/coder.png" width="300" />
                        <hr />
                    </div>
                    <div>
                        <ul>
                            <li>
                                Created personal portfolio website using C#, MVC5, JavaScript, and Bootstrap.
                            </li>
                            <li>
                                Created fully functional MVC bug tracker web application.  Implemented code first database
                                with user- and role-level security. Database interaction done through LINQ to Entity framework. 
                            </li>
                            <li>
                                Created a fully functional car finder web application. Composed
                                dynamic, responsive front-end design using AngularJS, HTML5, and Twitter Bootstrap.
                                Accessed NHTSA’s car recalls database using provided WebAPI to show car recalls.
                                Included images using Bing’s WebAPI.
                            </li>
                        </ul>
                    </div>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    2013
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <div class="text-center">
                        <img src="~/Content/telenetwork.png" width="300" />
                        <hr />
                    </div>
                    <div>
                        <ul>
                            <li>
                                Provide hardware and software support for customer electronics, including setup/maintenance of home networks, virus removals, and tune ups.
                            </li>
                            <li>
                                Train, mentor, and assist Level 1 agents. Observe new agent calls giving pointers for improvement.
                            </li>
                            <li>
                                Assist with Software tool development. Improved existing Call Monitor web application by adding new functionality. Used AJAX and PHP to allow Level 2
                                agents the ability to mark agents they are assisting. This improved workflow and decreased Level 2 assisting overlap.
                            </li>
                        </ul>
                    </div>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-movie">
                    2012
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <div class="text-center">
                        <img src="~/Content/iq.png" width="300" />
                        <hr />
                    </div>
                    <div>
                        <ul>
                            <li>
                                Manage Technical Support team. Delegate tier 1 created Jazz tickets to appropriate department.
                            </li>
                            <li>
                                Answer customer calls concerning technical issues. Identify issue trends to be forwarded to Engineering.
                            </li>
                            <li>
                                QA test beta versions of client before patch release.
                            </li>
                        </ul>
                    </div>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-blue">
                    2011
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <div class="text-center">
                        <img src="~/Content/scotland.png" width="300" />
                        <hr />
                    </div>
                    <div>
                        <ul>
                            <li>
                                Taught Integrated Math I, Geometry, Honors Algebra II, and Advanced Functions.
                            </li>
                            <li>
                                Implemented Project Based Learning teaching methods.
                            </li>
                            <li>
                                Participated and lead department wide common planning meetings to align lessons with Common Core Standards.
                            </li>
                            <li>
                                Was selected to participate in the American Diploma Project
                            </li>
                        </ul>
                    </div>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-red">
                    2010
                </div> <!-- cd-timeline-img -->
                <div class="cd-timeline-content">
                    <div class="text-center">
                        <img src="~/Content/ECU.png" width="300" />
                        <hr />
                    </div>
                    <div>
                        <ul>
                            <li>
                                Student taught at Kinston High School.
                            </li>
                            <li>
                                Presented at North Carolina Council of Teachers of Mathematics conference in Raleigh.
                            </li>
                            <li>
                                Tutored underclassmen in Calculus, Linear Equations, and Modern Algebra.
                            </li>
                        </ul>
                    </div>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        </div> <!-- cd-timeline -->
    </div>
</div>