
@{
    ViewBag.Title = "Resume";
}

<!-- ==========================
      Resume - START
  =========================== -->

<section id="about" class="content-first" >
    <div class="container" >
        <div class="row" id="resume-row">
            <h3 style="margin-left: 70px;">Resume</h3>
            <div class="col-md-6 col-sm-4 scrollpoint sp-effect1">
                <!--Timeline-->

                <div class="timeline">
                    <!-- BLOG POST 1 - START -->

                    <div class="event">
                        <div class="event-info">
                            <div class="date">2015</div>
                        </div>
                        <span>Coder Foundry<br />Master Class</span>
                    </div> <!-- BLOG POST 1 - END -->

                    <div class="event">
                        <div class="event-info">
                            <div class="date">2013</div>
                        </div>
                        <span>L2 OneSupport Representative <br />Telenetwork Inc.</span>
                    </div> <!-- BLOG POST 1 - END -->

                    <div class="event">
                        <div class="event-info">
                            <div class="date">2012</div>
                        </div>
                        <span>Technical Support<br />ImageQuix</span>
                    </div> <!-- BLOG POST 1 - END -->

                    <div class="event">
                        <div class="event-info">
                            <div class="date">2011</div>
                        </div>
                        <span>Math Teacher<br />Scotland HS of Math, Science,<br /> and Technology</span>
                    </div> <!-- BLOG POST 1 - END -->

                    <div class="event">
                        <div class="event-info">
                            <div class="date">2010</div>
                        </div>
                        <span>Graduated ECU<br />Secondary Mathematics Education</span>
                    </div> <!-- BLOG POST 1 - END -->


                </div><!--timeline-->
                
            </div><!--col 3 end-->
            <div class="col-md-6 col-sm-4 scrollpoint sp-effect2">
                <img src="~/Content/coder.png" class="image-bordered img-responsive resume-img" alt="" />
                <img src="~/Content/telenetwork.png" class="image-bordered img-responsive resume-img" alt="" />
                <img src="~/Content/iq.png" class="image-bordered img-responsive resume-img" alt="" />
                <img src="~/Content/scotland.png" class="image-bordered img-responsive resume-img" alt="" />
                <img src="~/Content/ECU.png" class="image-bordered img-responsive resume-img" alt="" />
                
                
                
                
            </div>
        </div><!--Row about end-->
