
@{
    ViewBag.Title = "Resume";
}

<!-- ==========================
      Resume - START
  =========================== -->

<section id="about" class="content-first" >
    <div class="container" >
        <div class="row" id="resume-row">
            <h3 style="margin-left: 70px;">Resume</h3>
            <div class="col-md-8 scrollpoint sp-effect1">
                <!--Timeline-->

                <div class="timeline">
                    <!-- BLOG POST 1 - START -->

                    <div class="event">
                        <div class="event-info">
                            <div class="date">2015</div>
                        </div>
                        <div class="resume-span">Master Class</div>
                        <div>
                            <img src="~/Content/coder.png" class="image-bordered img-responsive resume-img" alt="" />
                        </div>
                    </div> <!-- BLOG POST 1 - END -->

                    <div class="event">
                        <div class="event-info">
                            <div class="date">2013</div>
                        </div>
                        <div class="resume-span">Tier 2 OneSupport Representative</div>
                        <div>
                            <img src="~/Content/telenetwork.png" class="image-bordered img-responsive resume-img" alt="" />
                        </div>
                    </div> <!-- BLOG POST 1 - END -->

                    <div class="event">
                        <div class="event-info">
                            <div class="date">2012</div>
                        </div>
                        <div class="resume-span">Technical Support</div>
                        <div>
                            <img src="~/Content/iq.png" class="image-bordered img-responsive resume-img" alt="" />
                        </div>
                    </div> <!-- BLOG POST 1 - END -->

                    <div class="event">
                        <div class="event-info">
                            <div class="date">2011</div>
                        </div>
                        <div class="resume-span">Secondary Math Teacher</div>
                        <div>
                            <img src="~/Content/scotland.png" class="image-bordered img-responsive resume-img" alt="" />
                        </div>
                    </div> <!-- BLOG POST 1 - END -->

                    <div class="event">
                        <div class="event-info">
                            <div class="date">2010</div>
                        </div>
                        <div class="resume-span">B.S. Secondary Mathematics Education </div>
                        <div>
                            <img src="~/Content/ECU.png" class="image-bordered img-responsive resume-img" alt="" />
                        </div>
                    </div> <!-- BLOG POST 1 - END -->


                </div><!--timeline-->
                
            </div><!--col 3 end-->
            @*<div class="col-md-6 col-sm-4 scrollpoint sp-effect2">
                <center><img src="~/Content/coder.png" class="image-bordered img-responsive resume-img" alt="" /></center>
                <center><img src="~/Content/telenetwork.png" class="image-bordered img-responsive resume-img" alt="" /></center>
                <center><img src="~/Content/iq.png" class="image-bordered img-responsive resume-img" alt="" /></center>
                <center><img src="~/Content/scotland.png" class="image-bordered img-responsive resume-img" alt="" /></center>
                <center><img src="~/Content/ECU.png" class="image-bordered img-responsive resume-img" alt="" /></center>
            </div>*@
        </div><!--Row about end-->
    </div>
</section>