
@{
    ViewBag.Title = "BudgetTrackerLanding";
}

<h2>BudgetTrackerLanding</h2>
<section class="content-second">
    <div class="row">
        <div class="col-md-2 tech-container">
            <h3>Technologies used:</h3>
            <ul class="list-unstyled tech-list">
                <li class="tech">
                    C#
                </li>
                <li class="tech">
                    .NET
                </li>
                <li class="tech">
                    MVC
                </li>
                <li class="tech">
                    JavaScript
                </li>
                <li class="tech">
                    HTML5
                </li>
                <li class="tech">
                    CSS
                </li>
                <li class="tech">
                    SQL
                </li>
                <li class="tech">
                    LINQ
                </li>
                <li class="tech">
                    RAZOR
                </li>
                <li class="tech">
                    Bootstrap
                </li>
                <li class="tech">
                    Entity Framework
                </li>
            </ul>
        </div>

        <div class="col-md-8">
            <div class="budget-container">
                <img src="~/Content/budget-tracker.png" id="car-finder-img" class="img-responsive" />
                <div id="budget-title">
                    Budget Tracker Pro
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
            <p>
                Powered by C#, Budget Tracker Pro is a custom built web application for users to chart and plan their finances
            </p>
            <hr />
        </div>
        <div class="col-md-3 col-md-offset-3">
            <a href="https://aclark-budget.azurewebsites.net/" class="btn btn-default btn-lg scroll scrollpoint sp-effect1" role="button" target='_blank'>Visit Website <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="col-md-3">
            <a href="https://github.com/pieAre5quare/Budget" class="btn btn-primary btn-lg scroll scrollpoint sp-effect2" role="button" target='_blank'>GitHub <i class="fa fa-github"></i></a>
        </div>
    </div>
</section>