
@{
    ViewBag.Title = "BugTrackerLanding";
}

<section class="content-second">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/BugTrackerLogo.png" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <p>
                Written in C# & Powered by ASP.NET, BugTracker is a custom built web application. By creating projects and tickets, users can easily track the issues of a piece of software.
            </p>
            <hr />
            <a href="http://aclark-bugtracker.azurewebsites.net/" class="btn btn-default btn-lg scroll scrollpoint sp-effect1" role="button">Visit Website <i class="fa fa-arrow-right"></i></a>
            
        </div>
    </div>
</section>

