
@{
    ViewBag.Title = "BugTrackerLanding";
}

<section class="content-second">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/BugTrackerLogo.png" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            
            <p>
                Written in C# & Powered by ASP.NET, BugTracker is a custom built web application. By creating projects and tickets, users can easily track the issues of a piece of software.
            </p>
            <hr />
        </div>
        <div class="col-md-3 col-md-offset-3">
            <a href="http://aclark-bugtracker.azurewebsites.net/" class="btn btn-default btn-lg scroll scrollpoint sp-effect1" role="button" target='_blank'>Visit Website <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="col-md-3">
            <a href="https://github.com/pieAre5quare/BugTracker" class="btn btn-primary btn-lg scroll scrollpoint sp-effect2" role="button" target='_blank'>GitHub <i class="fa fa-github"></i></a>
        </div>
    </div>
</section>

