
@{
    ViewBag.Title = "CarFinderLanding";
}

<section class="content-second">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/cars.png" class="img-responsive" id="car-finder-img"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <p>
                Powered by AngularJS, CarFiner is a custom built web application to quickly search through a database of 60k vehicles.
            </p>
            <hr /> 
        </div>
        <div class="col-md-3 col-md-offset-3">
            <a href="http://aclark-carfinder.azurewebsites.net/" class="btn btn-default btn-lg scroll scrollpoint sp-effect1" role="button" target='_blank'>Visit Website <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="col-md-3">
            <a href="https://github.com/pieAre5quare/CarFinder" class="btn btn-primary btn-lg scroll scrollpoint sp-effect2" role="button" target='_blank'>GitHub <i class="fa fa-github"></i></a>
        </div>
    </div>
</section>
