
@{
    ViewBag.Title = "About";
}

<!-- ==========================
      ABOUT - START
  =========================== -->
<section id="about" class="content-first">
    <div class="container about-container">
        <div class="row">
            <div class=" col-sm-4 hidden-xs scrollpoint sp-effect1">
                
            </div>
            <div class=" col-sm-4 hidden-xs scrollpoint sp-effect1 about-pic">
                <img src="~/Content/about_pic.png" class="image-bordered img-responsive" alt="" />
            </div>
        </div>
        <div class="row">
            
            <div class="col-sm-3 hidden-xs scrollpoint sp-effect1">
                <!-- Profile image -->
            </div><!-- Profile end -->

            <div class="col-md-7 col-sm-6 scrollpoint sp-effect1 about-text">
                <!-- Profile description -->
                <h3>Allan Clark</h3>
                <p>Thank you for visiting my page. I'm Allan Clark and I am a Software Developer. Mathematics has always been my great passion. For me solving equations and manipulating variables brings order into an often chatoic world.
                Software development has allowed me to channel that passion into the real world in a practical way. 
                </p>
                <p>
                In my spare time I enjoy playing my bass guitar and hanging out with my Boston Terrier, Nixon. Also I am an E-sports enthusiast, the competition and intensity coupled with the notion that anyone anywhere can learn the game and get to that level fascinates me. Go Cloud 9!
                </p>
            </div><!-- Profile description end-->


        </div><!--Row about end-->


        
    </div><!-- Container end-->

    

</section>
<!-- ==========================
    ABOUT - END
=========================== -->



