
@{
    ViewBag.Title = "Index";
}

<!-- ==========================
    CONTACT - START
=========================== -->
<section id="contact" class="content-first">
    <div class="container">
        <h2 class="scrollpoint sp-effect3">Contact me</h2>
        <div class="contact-alert">
        </div>
        <div class="row">
            <!-- PRICING TABLE FIRST - start -->
            <div class="col-sm-12">
                <img src="~/Content/macbook.png" class="img-responsive hidden-xs" alt="">

                <div class="macbook-inner black">
                    <div class="row scrollpoint sp-effect4">
                        <div class="col-sm-8">
                            <h3 class="hidden-xs">Leave a message</h3>
                            <h5>@TempData["Message"]</h5>
                            
                            @using (Html.BeginForm("SendMessage","Contact"))
                            {

                                <div class="form-group control-group">
                                    <div class="controls">
                                        <p class="help-block"></p>
                                        <input type="text" class="form-control" placeholder="First Name" name="firstname" data-validation-required-message="Please enter your first name." aria-invalid="false">
                                    </div>
                                </div>

                                <div class="form-group control-group">
                                    <div class="controls">
                                        <p class="help-block"></p>
                                        <input type="text" class="form-control" placeholder="Last Name" name="lastname" data-validation-required-message="Please enter your last name." aria-invalid="false">
                                    </div>
                                </div>

                                <div class="form-group control-group">
                                    <div class="controls">
                                        <p class="help-block"></p>
                                        <input type="email" class="form-control" placeholder="Email" name="email" data-validation-required-message="Please enter your email address." aria-invalid="false">
                                    </div>
                                </div>

                                <div class="form-group control-group">
                                    <div class="controls">
                                        <p class="help-block"></p>
                                        <textarea class="form-control" placeholder="Message" name="message" data-validation-required-message="Please enter some message." aria-invalid="false"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Send message</button>
                                </div>
                            }
                            

                        </div>
                        <div class="col-sm-4">

                            <img src="~/Content/jonathan.png" class="contact-image image-responsive hidden-xs hidden-sm" alt="" />
                            <div class="contact-info">
                                <p>Allan Clark</p>
                                <p>High Point, NC 27265</p>
                                <p>252-364-7277</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="contact-confirm" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
    </div>
</section>
<!-- ==========================
    CONTACT - END
=========================== -->


